<% provide :title, t(".about") %>
<h1><%=t ".about" %></h1>
<div class="center jumbotron">
  <%= t(".content_html", link: "https://www.railstutorial.org/") %>
  <%= link_to t(".signup_now"), signup_path, class: "btn btn-lg btn-primary" %>
</div>
