<% provide :title, t(".help") %>
<h1><%= t ".help" %></h1>
<%= t ".content_html", link_help: "https://www.railstutorial.org/help",
                        link_book: "https://www.railstutorial.org/book" %>
