<%= link_to gravatar_for(current_user, size: Settings.users.index.size_avatar_sm), current_user %>
<h1><%= link_to current_user.name, current_user %></h1>
<span><%= t("microposts", count: current_user.microposts.count) %></span>

