<footer class="footer">
<%= t ".footer_link_html" %>
  <nav>
    <ul>
      <li><%= link_to t(".about"), about_path %></li>
      <li><%= link_to t(".contact"), contact_path %></li>
      <li><%= t ".footer_link_news_html" %></li>
    </ul>
  </nav>
</footer>
